/* Reset code and common code starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: 0;
  font-weight: 400;
}
html {
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffffff;
  margin: auto;
}

/* Header Start */
header {
  background-color: #244855;
}
.navbar {
  padding: 10px 5%;
  background-color: #244855;
  min-height: 15vh;
}
.navbar-icon {
  color: #ffffff;
  background-color: transparent;
}
.navbar-brand img {
  height: 75px;
}
.nav-link {
  color: #ffffff;
  display: inline-block;
  position: relative;
  border-radius: 5px;
  font-weight: bold;
}
.nav-link:hover {
  color: #ffffff;
  padding-right: -10px;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffee00;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  background-color: #e64833;
  transform-origin: bottom left;
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 60px;
  }
  .nav-link {
    background-color: #00000050;
    display: block;
    position: relative;
    padding: 0 auto;
    padding-left: 15px;
    margin: 1px 0;
  }
  .nav-link::after {
    transition: transform 0.5s ease-out;
  }
}

/* Main Starts */

/* Main Ends */

/* Contact Starts */

/* Contact ends */

/* Footer starts */
footer {
  padding: 1% 5%;
  background-color: #874f41;
  color: #fbe9d0;
}
footer .media-buttons i {
  color: #fbe9d0;
  transition: 0.4s;
}
footer .media-buttons .home {
  padding: 0;
  margin: 0;
}
footer .media-buttons i:hover {
  color: #90aead;
}
/* Footer ends */

/* #ffffff */
/* #244855 */
/* #90aead  */
/* #e64833 */
/* #874f41 */
/* #ffee00 */
/* #fbe9d0 */
