/* About Page Banner */
.about-container .about-banner {
  background-image: url("../images/about-banner.jpeg");
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.about-container .about-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.about-container .about-banner h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 8px;
  color: #fff;
  z-index: 2;
  position: relative;
  animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* About Content */
.about-container .about-content {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 5%;
  gap: 30px;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-container .about-content .row {
  display: flex;
  align-items: center;
}

.about-container .about-content .row .about-text,
.about-container .about-content .row .about-image {
  flex: 1;
}

@media (max-width: 900px) {
  .about-container .about-content .row .about-text {
    flex: 4;
  }
  .about-container .about-content .row .about-image {
    flex: 3;
  }
}

.about-container .about-content .row .about-text {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  color: #333;
  transform: translateX(-50%);
  opacity: 0;
  animation: slideInLeft 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-container .about-content .row .about-text h3 {
  font-size: 30px;
  margin-bottom: 15px;
  border-left: 5px solid #00b44b;
  padding: 5px 15px;
}

.about-container .about-content .row .about-text p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;
}

.about-container .about-content .row .about-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container .about-content .row .about-image .image-wrapper {
  text-align: center;
}

.about-container .about-content .row .about-image img {
  width: 100%;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1.5s;
  align-items: center;
}

.about-container .about-content .row .about-image .about-image_credit {
  text-align: right;
}

.about-container .about-content .row .about-image .about-image_credit a {
  color: #244855;
  font-size: 12px;
  text-decoration: none;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
}

.about-container .about-content .row .about-image .about-image_credit a:hover {
  color: #112730;
  text-decoration: underline;
}

/* Our Values Section */
.about-container .our-values {
  background-image: url("../images/about-value_banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 5%;
  text-align: center;
}

.about-container .our-values h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
  color: #fff;
  animation: fadeInUp 1.5s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-container .values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 2.5s;
}

.about-container .value-item {
  flex: 1;
  min-width: 250px;
  max-width: 310px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 910px) {
  .about-container .value-item {
    flex: 1;
    min-width: 250px;
    max-width: 50%;
  }
  .about-container .value-item-3 {
    flex: 2;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .about-container .value-item {
    flex: 1;
    max-width: 100%;
  }
  .about-container .value-item-3 {
    flex: 1;
  }
  .about-container .about-content .row .about-text h3 {
    font-size: 25px;
  }
  .about-container .about-content .row .about-text p {
    font-size: 16px;
  }
}

.about-container .value-item:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.about-container .value-item .value-icon {
  font-size: 32px;
  color: #1fb15c;
  margin-bottom: 10px;
}

.about-container .value-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #244855;
}

.about-container .value-item p {
  font-size: 16px;
  color: #555;
}

/* Responsive Design */
@media (max-width: 950px) {
  .about-container .about-content .row {
    flex-direction: column;
  }

  .about-container .our-values h2 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .about-container .about-banner h1 {
    font-size: 30px;
  }

  .about-container .about-content .row .about-text h3 {
    font-size: 22px;
  }

  .about-container .our-values h2 {
    font-size: 28px;
  }

  .about-container .value-item h3 {
    font-size: 22px;
  }

  .about-container .value-item p {
    font-size: 12px;
  }
}
