/* Contact Page Styles */
.contact-container {
  position: relative;
  width: 100%;
  min-height: 75vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .form {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-container .form .contact-info {
  width: 40%;
  padding: 30px;
  background: #076b07;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container .form .contact-info .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-container .form .contact-info .text {
  font-size: 16px;
  margin: 20px 0;
}

.contact-container .form .contact-info .information {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
}

.contact-container .form .contact-info .information a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.contact-container .form .contact-info .information a:hover {
  color: #d4d4d4;
  text-decoration: underline;
}

.contact-container .form .contact-info .information i {
  font-size: 20px;
  margin-right: 10px;
}

.contact-container .form .contact-info .social-media {
  margin-top: 20px;
}

.contact-container .form .contact-info .social-media p {
  font-size: 16px;
}

.contact-container .form .contact-info .social-media .social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.contact-container .form .contact-info .social-media .social-icons a:hover {
  color: #aaaaaa;
}

.contact-container .form .contact-info .location {
  margin-top: 15px;
}

.contact-container .form .contact-form {
  width: 60%;
  padding: 30px;
  position: relative;
}

.contact-container .form .contact-form .circle {
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.contact-container .form .contact-form .circle.one {
  width: 130px;
  height: 130px;
  top: -50px;
  right: 50px;
}

.contact-container .form .contact-form .circle.two {
  width: 80px;
  height: 80px;
  bottom: -40px;
  right: 90px;
}

.contact-container .form .contact-form form {
  width: 100%;
}

.contact-container .form .contact-form .title {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.contact-container .form .contact-form .input-container {
  position: relative;
  margin: 30px 0;
}

.contact-container .form .contact-form .input-container input,
.contact-container .form .contact-form .input-container textarea {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 16px;
  color: #333;
}

.contact-container .form .contact-form .input-container label,
.contact-container .form .contact-form .input-container span {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 16px;
  color: #333;
  transition: 0.3s;
}

.contact-container .form .contact-form .input-container input:focus ~ label,
.contact-container .form .contact-form .input-container input:valid ~ label,
.contact-container .form .contact-form .input-container textarea:focus ~ label,
.contact-container .form .contact-form .input-container textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #076b07;
}

/* Submit/Clear button design by "https://codepen.io/milanraring" */

/* Submit Button */
.button-submit {
  --text: #505050;
  --plane: #076b07;
  --background: #cccccc;

  display: inline-block;
  position: relative;
  border: 0;
  padding: 0;
  margin-top: -20px;
  margin-right: 20px;
  width: 140px;
  height: 40px;
  background: var(--background);
  border-radius: 0 0 5px 5px;
  color: var(--text);
  cursor: pointer;
  outline: none;
}

.button-submit:hover .button-submit svg.btn-layer {
  color: #2e2e2e;
}

.button-submit svg.btn-layer {
  display: block;
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 2;
  pointer-events: none;
  fill: var(--background);
}

.button-submit svg.plane {
  z-index: 3;
  position: absolute;
  left: 32px;
  display: block;
  width: 26px;
  height: 28px;
  fill: var(--plane);
  transform: translate3d(0, 0, 0);
  perspective: 500px;
}

.button-submit > ul {
  list-style: none;
  padding: 0 5px 0 0;
  position: relative;
  overflow: hidden;
}

.button-submit > ul > li {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-left: 40px;
  font: 400 18px "Varela Round", sans-serif;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0.3s;
  transition-delay: 2s;
}

.button-submit > ul > li:first-child {
  opacity: 1;
}

.button-submit > ul > li:last-child {
  opacity: 0;
}

.button-submit.active svg.plane {
  animation: 1.5s orbit alternate linear;
}

.button-submit.active > ul > li {
  transform: translateY(-100%);
  transition: transform 0.3s ease 1.2s, opacity 0.3s ease 1.2s;
}

.button-submit.active > ul > li:first-child {
  opacity: 0;
}

.button-submit.active > ul > li:last-child {
  opacity: 1;
}
@keyframes orbit {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
    animation-timing-function: ease-in;
  }
  10% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, -10deg) translateZ(60px) scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  20% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 30deg) translateZ(60px) scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  30% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 35deg) translateZ(60px) scale3d(1, 1, 1);
  }
  40% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 120deg) translateZ(60px) scale3d(0.7, 0.7, 1);
  }
  70% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 240deg) translateZ(60px) scale3d(0.7, 0.7, 1);
    animation-timing-function: ease-out;
  }
  100% {
    z-index: 3;
    transform: rotate3d(1, 0, 0, 360deg) translateZ(60px) scale3d(1, 1, 1);
  }
}

/* Clear button */
.button-clear {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}
.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}
.svgIcon path {
  fill: white;
}
.button-clear:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}
.button-clear:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}
.button-clear::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
  opacity: 0;
}
.button-clear:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(28px);
  transition-duration: 0.3s;
}
/********************************/

@media (max-width: 1050px) {
  .contact-container {
    padding: 50px 70px;
  }
}

@media (max-width: 992px) {
  .contact-container {
    padding: 50px 50px;
  }
  .contact-container .form {
    flex-direction: column;
  }

  .contact-container .form .contact-info {
    width: 100%;
  }
  .contact-container .form .contact-form {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contact-container {
    padding: 30px 20px;
  }
}
